/* Sidebar.css */

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.5rem;
  background-color: #fff;
  border-right: 1px solid #eee;
  height: 100vh;
  position: sticky;
  top: 60px;
}

/* ===== Profile Section ===== */

.profile-section {
  text-align: center;
  margin-bottom: 1.5rem;
}

.profile-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid #ff7f50;
  object-fit: cover;
}

.profile-name {
  margin: 0.6rem 0 0.4rem;
  font-size: 1.2rem;
  color: #333;
}

.profile-stats {
  display: flex;
  justify-content: center;
  gap: 1.7rem;
  font-size: 0.85rem;
  color: #666;
  
}

.profile-stats div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon {
  margin-right: 10px;
  font-size: 1.1rem;
  vertical-align: middle;
}

/* ===== Menu Links ===== */

.sidebar-menu a ,.sidebar-link {
  display: flex;
  align-items: center;
  font-size: 1rem;
  text-decoration: none;
  color: #333;
  transition: background 0.2s, color 0.2s, transform 0.2s ease;
  padding: 0.4rem;
  border-radius: 8px;
}

.sidebar-menu a:hover,.sidebar-link:hover {
  background-color: #f0f0f0;
  color: #ff7f50;
  transform: translateX(5px); /* Shift to the right */
}


.sidebar-menu a.sidebar-link {
  color: #ff7f50;
}

/* popup  css*/

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  padding: 24px 32px;
  width: 90%;
  max-width: 360px;
  margin-top: -160px;
  border-radius: 16px;
  position: fixed;
  text-align: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  animation: fadeInScale 0.3s ease;
}

.modal p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #333;
  font-weight: 500;
}

.modal button {
  margin: 0 8px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.confirm {
  background-color: #ff3b30; 
  color: white;
}

.cancel {
  background-color: #e0e0e0; 
  color: #333;
}

.confirm:hover {
  background-color: #e60023;
}

.cancel:hover {
  background-color: #d0d0d0;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
